* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
  overflow: hidden;
}

.product, .products .product {
  padding: 10px;
  border-radius: 17px;
  box-shadow: 2px 1px 4px #838f8f;
  position: relative;
}
.product__favourite {
  position: absolute;
  top: 20px;
  right: 5%;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product .imgContainer {
  border-radius: 7px;
  overflow: hidden;
}
.product .imgContainer img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1.07/1;
}
.product h4, .products .product h4 {
  margin-block: 1rem 0px;
  max-width: 14ch;
  font-size: 1.5rem;
}
.product span, .products .product span {
  display: block;
  padding-block: 0.2rem 0.4rem;
}
.product span:last-child {
  padding-block: 20px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
  overflow: hidden;
}

.product, .products .product {
  padding: 10px;
  border-radius: 17px;
  box-shadow: 2px 1px 4px #838f8f;
  position: relative;
}
.product__favourite {
  position: absolute;
  top: 20px;
  right: 5%;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product .imgContainer {
  border-radius: 7px;
  overflow: hidden;
}
.product .imgContainer img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1.07/1;
}
.product h4, .products .product h4 {
  margin-block: 1rem 0px;
  max-width: 14ch;
  font-size: 1.5rem;
}
.product span, .products .product span {
  display: block;
  padding-block: 0.2rem 0.4rem;
}
.product span:last-child {
  padding-block: 20px 5px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -7px 13px #e6e7e8;
  z-index: 5;
  background-color: white;
  padding: 15px;
}
.nav a {
  text-decoration: none;
}
.nav a > div {
  text-decoration: none !important;
}
.nav a > div span {
  text-decoration: none !important;
  color: black;
}
.nav__icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.nav__icon svg {
  width: 24px;
  height: auto;
  fill: #979C9E;
}
.nav__icon svg path {
  fill: #979C9E;
}
.nav__icon.active svg {
  fill: #6B4EFF !important;
}
.nav__icon.active svg path {
  fill: #6B4EFF !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
  overflow: hidden;
}

.product, .products .product {
  padding: 10px;
  border-radius: 17px;
  box-shadow: 2px 1px 4px #838f8f;
  position: relative;
}
.product__favourite {
  position: absolute;
  top: 20px;
  right: 5%;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product .imgContainer {
  border-radius: 7px;
  overflow: hidden;
}
.product .imgContainer img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1.07/1;
}
.product h4, .products .product h4 {
  margin-block: 1rem 0px;
  max-width: 14ch;
  font-size: 1.5rem;
}
.product span, .products .product span {
  display: block;
  padding-block: 0.2rem 0.4rem;
}
.product span:last-child {
  padding-block: 20px 5px;
}

.bodyLoggedIn {
  padding-inline: 1rem;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
}
.profile__avatar {
  width: 56px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}
.profile__notifications {
  background-color: #979c9e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile__notifications svg {
  width: 18px;
  height: 20px;
}
.profile__notifications svg path {
  fill: black;
}

.search {
  display: grid;
  grid-template-columns: 2fr 0.3fr;
  background-color: white;
  gap: 20px;
  padding-block: 10px;
}
.search__box {
  background-color: #e6e7e8;
  gap: 10px;
  display: flex;
  border-radius: 5px;
}
.search__box button {
  font: inherit;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.search__box input {
  width: 80%;
  height: 100%;
  padding: 10px 5px;
  background-color: transparent;
  font: inherit;
  border: none;
}
.search__filter {
  background-color: #e6e7e8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}
.search__filter img {
  display: block;
  width: 20px;
  height: auto;
}

.category__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category__heading button {
  border: none;
  background-color: transparent;
  font: inherit;
  font-weight: 300;
}
.category__categories {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 10px;
}
.category__categories button {
  background-color: transparent;
  border: 1px solid #090a0a;
  border-radius: 10px;
  padding: 10px 5px;
  min-width: 6rem;
  font: inherit;
  font-size: 0.9rem;
}
.category__categories button.active {
  background-color: #5538ee;
  border: none;
  color: white;
}

.search__box > input:focus body {
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
  overflow: hidden;
}

.product, .products .product {
  padding: 10px;
  border-radius: 17px;
  box-shadow: 2px 1px 4px #838f8f;
  position: relative;
}
.product__favourite {
  position: absolute;
  top: 20px;
  right: 5%;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product .imgContainer {
  border-radius: 7px;
  overflow: hidden;
}
.product .imgContainer img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1.07/1;
}
.product h4, .products .product h4 {
  margin-block: 1rem 0px;
  max-width: 14ch;
  font-size: 1.5rem;
}
.product span, .products .product span {
  display: block;
  padding-block: 0.2rem 0.4rem;
}
.product span:last-child {
  padding-block: 20px 5px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
  overflow: hidden;
}

.product, .products .product {
  padding: 10px;
  border-radius: 17px;
  box-shadow: 2px 1px 4px #838f8f;
  position: relative;
}
.product__favourite {
  position: absolute;
  top: 20px;
  right: 5%;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product .imgContainer {
  border-radius: 7px;
  overflow: hidden;
}
.product .imgContainer img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1.07/1;
}
.product h4, .products .product h4 {
  margin-block: 1rem 0px;
  max-width: 14ch;
  font-size: 1.5rem;
}
.product span, .products .product span {
  display: block;
  padding-block: 0.2rem 0.4rem;
}
.product span:last-child {
  padding-block: 20px 5px;
}

.settingsIcon {
  display: flex;
  justify-content: end;
  padding: 10px;
}
.settingsIcon__image {
  width: min(40px, 30rem);
  cursor: pointer;
}

.profile__image {
  width: 54%;
  margin-inline: auto;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.profile__image img {
  object-fit: cover;
  width: 100%;
}
.profile__image .editIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  z-index: 10;
}
.profile__image .editIcon svg {
  width: 1.2rem;
}

.profile__details {
  text-align: center;
  font-size: smaller;
  padding-block: 1rem;
  margin-bottom: 2rem;
}

.activeListings {
  display: flex;
  flex-direction: column;
}
.activeListings__listing {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  font-size: smaller;
  padding: 10px;
  margin-block: 20px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.activeListings__listing.showmore {
  height: 27rem;
}
.activeListings__listing.showless {
  height: auto;
}
.activeListings__showMore {
  align-self: start;
  background: transparent;
  border: none;
  padding: 10px 10px 10px 1rem;
  font: inherit;
}

.profile__badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  align-items: center;
}
.profile__badges .badge {
  background-color: #5538ee;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.profile__badges .leftArrow {
  cursor: pointer;
}
.profile__badges .leftArrow svg {
  width: 1rem;
  align-self: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
  overflow: hidden;
}

.product, .products .product {
  padding: 10px;
  border-radius: 17px;
  box-shadow: 2px 1px 4px #838f8f;
  position: relative;
}
.product__favourite {
  position: absolute;
  top: 20px;
  right: 5%;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product .imgContainer {
  border-radius: 7px;
  overflow: hidden;
}
.product .imgContainer img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1.07/1;
}
.product h4, .products .product h4 {
  margin-block: 1rem 0px;
  max-width: 14ch;
  font-size: 1.5rem;
}
.product span, .products .product span {
  display: block;
  padding-block: 0.2rem 0.4rem;
}
.product span:last-child {
  padding-block: 20px 5px;
}

@media screen and (min-width: 700px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}
body {
  font-family: "Inter", sans-serif;
  padding-bottom: min(150px, 50vh);
}

/*# sourceMappingURL=main.css.map */
